@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 44% 97%;
    --foreground: 153 42% 10%;

    --card: 0 0% 100%;
    --card-foreground: 153 42% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 153 42% 10%;

    --primary: 153 42% 19%;
    --primary-foreground: 54 44% 97%;

    --secondary: 46 65% 52%;
    --secondary-foreground: 153 42% 10%;

    --muted: 153 20% 92%;
    --muted-foreground: 153 15% 40%;

    --accent: 46 65% 52%;
    --accent-foreground: 153 42% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 153 20% 88%;
    --input: 153 20% 88%;
    --ring: 153 42% 19%;

    --radius: 1rem;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes slow-zoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }

  .animate-slow-zoom {
    animation: slow-zoom 20s linear infinite alternate;
  }
}